extends layout

block content
  h1.page-header= category.name
    | &nbsp分类下的所有文字&nbsp
    = posts.length

  each post in posts
    div.post
      h3.post-title
        a(href="/posts/view/" + post._id, target="__blank")
          =post.title
      div.post-abstract
        =truncate(post.content, 150)
      div.post-meta
        span.post-created
          | 发布时间:
          =moment(post.created).format('YYYY-MM-DD')
        span.post-author
          | 作者:
          =post.author.name
        span.post-category
          | 分类:
          a(href='/posts/category/' + post.category.name)=post.category.name
        span.post-comment
          | 评论:
          =post.comments.length || 0
        span.post-favorite
          | 被赞:
          =post.meta.favorite || 0
        span.post-link
          a(href="/posts/view/" + post._id, target="__blank") 查看全文








